<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->



<!DOCTYPE html>
<html>

<!-- Head -->
<head>

<title>Deseret Hospital Management System</title>

<!-- Meta-Tags -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="keywords" content="Sleek Login Form Widget Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //Meta-Tags -->

<!-- Style --> <link rel="stylesheet" href="css/style.css" type="text/css" media="all">

<!-- Fonts -->
<link href="//fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
<!-- //Fonts -->

</head>
<!-- //Head -->

<!-- Body -->
<body>

	<h1 style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;color:rgb(248, 248, 16);" > DESERET HOSPITAL</h1>

	

	<h2>Log in to your Account</h2>
	<div class="w3layoutscontaineragileits">
		<form action="/admin" method="POST">
			<input type="text" name="username" placeholder="enter your username" required="">
			<input type="password" Name="password" placeholder="enter your password" required="">
			
			<div class="aitssendbuttonw3ls">
				<input type="submit" value="LOGIN">
			</div>
		</form>
	</div>

	<div class="w3footeragile">
		<p> &copy; 2021  Deseret. All Rights Reserved | Designed by Deseret</p>
	</div>

</body>
<!-- //Body -->

</html>