<% for(let i=0;i<result.length;i++){%>
    <tbody>
    
      
      
        <tr> 
            <td><%=result[i].first%></td>
            <td><%=result[i].drugname%></td>
            <td><%=result[i].dosage%></td>
        
       
             </tr>
             </tbody>
             <%}%>